{% extends "base.html" %}
{% block body %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title"> {{'Edit'}} [{{ conv_id_str(paste.id) }}] {% if paste.protected %}{{'Password Protected'}}{%endif%} </h1>
    </div>
    <div class="panel-body">
        <form action="/edit.do/{{ conv_id_str(paste.id) }}" method="POST" accept-charset="utf-8">
            <div class="form-group">
                <textarea class="form-control" name="content" rows=8>{{ paste.content | decode }}</textarea>
            </div>
            <div class"form-group">
                <label for="password">{{'Change Password'}}</label>
                <input id="password" class="form-control" name="password" type="password">
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="rmpass" value="1"> {{"Remove password"}}</label>
            </div>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <button class="btn btn-default" type="submit">Submit</button>
        </form>
    </div>
</div>

{% endblock %}
